
html {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

body {
  width: 800px;
  margin: 0 auto; /* First # for top/bottom, second # for left/right. auto divides available space
                     evenly between left and right */

  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
  padding: 20px 0;    
}

p {
  font-size: 16px;    
  line-height: 1.5;
  letter-spacing: 1px;
}

li {
  font-size: 16px;    
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


li.paper:hover {
	background: #d5d5d5;
}

/*h2.myPage {
  background-color: #9099A2;
}*/

/*img {
  display: block;
  margin: 0 auto;
}*/